* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mainPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid gray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    padding: 20px;
}

.rightSideLogin {
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    border-bottom: 1px solid #dee0e1;
    padding: 10px 0;
}

.loginPage {
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.loginContent {
    display: flex;
}

.loginPageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}

.quora {
    width: 202px;
    height: 135px;
}

.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginLogo {
    width: 70px;
    height: 70px;
}

.signup_form {
    padding: 10px 40px;
}

.textField {
    background: white;
    width: 100%;
    margin-top: 15px !important;
}

button {
    margin: 20px 0 20px 0;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
}

#name_error,
#email_error,
#pass_error {
    margin-top: 5px;
    font-size: 18px;
    color: #c62828;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #ef9a9a;
    border-radius: 3px;
    display: none;
}

#success {
    margin-top: 5px;
    font-size: 25px;
    color: green;
    background-color: rgba(0, 255, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #2f912f;
    border-radius: 3px;
    display: none;
}

.log_in {
    text-align: center;
    margin-bottom: 10px;
}

.text {
    all: unset;
    text-align: center;
    color: rgb(83, 83, 83);
    font-weight: 700;
    margin-bottom: 30px;
}

.tag {
    text-decoration: none;
    font-weight: bold;
    color: rgb(37, 152, 247);
}

.tag:hover {
    color: rgb(16, 77, 126);
}

.termsAndConditions {
    text-align: justify;
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.condition {
    color: blue;
    cursor: pointer;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 25px;
    width: 50%;
    border-right: 1px solid #dee0e1;
    margin-bottom: 25px;
}

.leftSideBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.rightSide {
    padding: 10px 25px;
    width: 50%;
    margin-top: -20px;
}

.header {
    padding: 20px;
}

.forgotPassword {
    color: grey;
    font-size: 13px;
    cursor: pointer;
}

.main {
    min-height: 100vh;
    background-color: #f1f2f2;
}

.header2 {
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 5px;
    background-color: #ffffff;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.searchContainer {
    position: relative;
}

.searchInput {
    padding: 15px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #c62828;
    border-bottom: 3px solid #c62828;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.searchIcon {
    height: 35px !important;
    width: 35px !important;
    padding: 5px;
    color: #5f5e5e;
    background-color: #f4f4f4;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 8px;
}

.searchInput:focus {
    border: 2px solid #CD1818;
    outline: none;
}

.noMatch {
    text-align: center;
    background-color: white;
    color: #CD1818;
    padding: 10px;
}

.avatarName {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.avatar {
    color: white !important;
    background-color: #CD1818 !important;
    margin-right: 5px;
    height: 35px !important;
    width: 35px !important;
}

.btn {
    display: flex;
    gap: 30px;
}

.bttn {
    border: 1px solid #b92b27;
    background-color: white;
    color: #b92b27;
    box-shadow: none;
    text-decoration: none;
}

.bttn:hover {
    border: 1px solid #b92b27;
    color: white;
    background-color: #b92b27;
}

.bttnActive {
    background-color: #b92b27;
    color: white;
}

.list {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #c62828;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

.quesAndAnsContainer {
    width: 100%;
}

.searchQueContainer {
    width: 100%;
}

.queAnsContainer {
    width: 75%;
}

.question,
.questionAns {
    margin-bottom: 5px;
    color: blue;
    font-size: 18px;
}

.list p {
    font-size: 18px;
}

.navBar {
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 45px;
}

.googleLogo {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.emailLogo {
    height: 17px;
    width: 17px;
    margin-right: 8px;
}

.signupBtn {
    text-align: left;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #dee0e1;
    border-bottom: 1px solid #dee0e1;
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
}

.date {
    font-size: 12px;
    padding: 5px 0 5px 0;
    color: #5f5e5e;
}

.deleteBtnContainer {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 0 5px 0 5px;
}

.deleteBtnContainer:hover {
    background-color: #f4f4f4;
}

.deleteBtn {
    all: unset;
    cursor: pointer;
    margin-bottom: 10px;
}

.nameDate {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5px;
}

.loginBttn,
.signupBttn,
.googleBttn,
.signupBtn {
    background-color: white;
    border: 1px solid #dee0e1;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    color: black;
}

.googleBttn,
.signupBtn {
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 11px;
}

.searchQue {
    padding: 35px;
}

.languageColor {
    color: rgb(38, 123, 221);
}

.loginFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background-color: #f1f2f2;
}

.footerLogin {
    font-size: 12px;
    cursor: pointer;
}

.footerLogin:hover {
    border-bottom: 1px solid black;

}

.loginBttn:hover,
.signupBttn:hover,
.googleBttn:hover,
.signupBtn:hover {
    background-color: #f1f2f2;
    border: 1px solid black;
}

.answerName {
    font-weight: bold;
}

.queContainer {
    height: fit-content;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.questionHeader {
    margin-bottom: 10px;
    border-bottom: 2px solid #CD1818;
    text-align: center;
    padding: 8px;
}

.questionList {
    margin-bottom: 10px;
    cursor: pointer;
}

.questionHome {
    padding: 20px;
}

.questionList p {
    color: blue;
    font-size: 18px;
}

.questionList p:hover {
    color: red;
}

.questionAns.active {
    color: red;
}

.questionAns {
    cursor: pointer;
}

.questionAns:hover {
    color: #CD1818;
}

.headerIcons {
    display: flex;
    gap: 15px;
}

.icon {
    padding: 5px;
}

.iconActive {
    color: #CD1818 !important;
}

.iconsHeader {
    color: #6d6e6e;
    font-size: 30px !important;
    cursor: pointer;
}

.iconsHeader:hover {
    color: #CD1818;
}

.icon:hover {
    background-color: #f4f4f4;
}

.activeIcon {
    color: #c62828 !important;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    border: 1px solid gray;
    background-color: #f1f2f2;
    padding-top: 70px;
}

.questionInput {
    width: 80% !important;
    height: 60px;
    font-size: 18px;
    margin: 0 10%;
    margin-top: 100px;
    border: 1px solid #CD1818;
    border-bottom: 3px solid #CD1818;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.questionInput::placeholder {
    font-size: 15px;
}

.questionInput:focus {
    border: 2px solid #CD1818;
    outline: none;
}

.questionBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 0 5%;
}

.pageBtn {
    color: white;
    background-color: #CD1818;
}

.pageBtn {
    transform: translate(0, 2px);
    box-shadow: 0 2px rgba(0, 0, 0, 0.7);
}

.ansContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    background-color: #f1f2f2;
}

.answeredBy {
    color: #CD1818;
    font-size: 22px;
    font-weight: 500;
}

.homeQuestion {
    padding: 10px;
    font-weight: 500 !important;
    color: blue;
}

.answerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.answerquestionContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.answerInput {
    border: 1px solid #CD1818;
    border-bottom: 3px solid #CD1818;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    resize: none;
    padding: 20px;
    font-size: 18px;
}

.answerInput::placeholder {
    font-size: 15px;
}

.answerInput:focus {
    border: 2px solid rgb(255 22 22);
    outline: none;
}

.answerBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 0 5%;
}

.questionList {
    color: blue;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.questionList:hover {
    color: red;
}

.ansHeader {
    margin-bottom: 10px;
    border-bottom: 3px solid #CD1818;
}

.section {
    display: flex;
    gap: 80px;
    margin: 0 3%;
    padding-bottom: 30px;
    padding-top: 100px;
}

.sidebar {
    height: fit-content;
}

.sidebarOptions {
    display: flex;
    flex-direction: column;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.sidebarOption:hover {
    background: #b4b4b4;
}

.sidebarOption>img {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    margin-left: 20px;
}

.sidebarOption>.MuiSvgIcon-root {
    font-size: medium;
    margin-left: 20px;
}

.sidebarOption>p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 13px;
}

.sidebarOption>.text {
    margin-left: 23px;
    color: gray;
    font-weight: 400;
    font-size: 13px;
}

.sidebarActive {
    background: #b4b4b4;
}

.navbarIcons {
    display: flex;
    gap: 80px;
    align-items: center;
}

.voteIcon {
    color: #656565;
    height: 20px !important;
    width: 20px !important;
}

.vote {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.voteAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.footer {
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #c62828
}

.logoutBttn {
    all: unset;
    cursor: pointer;
}

.iconsPages {
    display: flex;
    gap: 80px;
    padding: 100px 35px;
}

.quesionListWidth {
    width: 100% !important;
}

.imageSite {
    width: 100%;
}

.siteImage {
    width: 70%;
    margin: 0 15%;
}

/* Media queries */
@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .section {
        justify-content: center;
        padding-top: 340px;
    }

    .iconsPages {
        padding-top: 280px;
    }

    .questionContainer {
        padding-top: 220px;
    }

    .header2 {
        width: 100px;
        margin-bottom: -20px;
    }

    .headerIcons {
        width: 100%;
        justify-content: space-between;
        padding: 5px;
    }

    .loginLogo {
        width: 50px;
        height: 50px;
    }

    .logout {
        height: 25px !important;
        width: 25px !important;
        margin-bottom: 0;
    }

    .signup_form,
    .login_form {
        padding: 10px 20px;
    }

    .btn {
        justify-content: space-evenly;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .logo {
        margin-left: 10px;
    }

    .header1 {
        font-size: 30px;
        margin-left: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .headerContainer {
        padding: 10px;
        flex-direction: column;
        height: fit-content;
    }

    .sidebar {
        display: none;
    }

    .searchContainer {
        margin-bottom: 10px;
        width: 100%;
    }

    .searchInput {
        margin-top: 10px;
    }

    .searchIcon {
        top: 16px;
    }

    .questionHeader {
        font-size: 20px;
    }

    #name_error,
    #email_error,
    #pass_error {
        font-size: 15px;
    }

    .answerContainer {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;
    }

    .copyright {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
        margin: 0 10px;
    }

    .loginPageHeader {
        margin-bottom: -15px;
    }

    .quora {
        width: 150px;
        height: 100px;
    }

    .loginPage {
        width: 90%;
        margin: 5% 0;
    }

    .loginContent {
        flex-direction: column-reverse;
    }

    .termsAndConditions {
        display: none;
    }

    .leftSide {
        margin: auto;
        border: none;
        width: 80%;
        margin-bottom: 30px;
    }

    .signupBtn,
    .googleBttn {
        font-size: 12px;
    }

    .rightSide {
        width: 100%;
    }

    .language {
        display: none;
    }

    .loginFooter {
        display: none;
    }

    .searchInput {
        font-size: 13px;
    }

    .navbarIcons {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .smallDevicesIcons {
        justify-content: space-between;
    }
}

@media (max-width: 335px) {

    .btn {
        gap: 20px;
    }

    button {
        font-size: 12px;
    }
}

@media (min-width: 577px) and (max-width: 800px) {
    .container {
        width: 60%;
    }

    .iconsPages {
        justify-content: center;
        padding-top: 300px;
    }

    .questionContainer {
        padding-top: 260px;
    }

    .navbarIcons {
        flex-direction: column;
        gap: 10px;
    }

    .header2 {
        width: 100px;
        margin-bottom: -10px;
    }

    .headerIcons {
        width: 100%;
        justify-content: space-between;
        padding: 5px;
    }

    .sidebar {
        display: none;
    }

    .header1 {
        font-size: 40px;
    }

    .searchInput {
        margin-top: 10px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .headerContainer {
        padding: 10px;
        flex-direction: column;
        height: fit-content;
    }

    .sidebar {
        display: none;
    }

    .searchContainer {
        margin-bottom: 10px;
        width: 100%;
    }

    .searchIcon {
        top: 15px;
    }

    .questionHeader {
        font-size: 20px;
    }

    .section {
        justify-content: center;
        padding-top: 360px;
    }

    .answerContainer {
        display: flex;
        flex-direction: column;
        margin-top: 50px !important;
    }

    .text {
        font-size: 14px;
    }

    .loginPageHeader {
        margin-bottom: -15px;
    }

    .quora {
        width: 180px;
        height: 110px;
    }

    .loginPage {
        width: 80%;
    }

    .footerLogin {
        font-size: 10px;
    }

    .termsAndConditions {
        font-size: 13px;
    }

    .signupBtn,
    .googleBttn {
        font-size: 14px;
    }

    .navbarIcons {
        width: 100%;
    }

    .smallDevicesIcons {
        justify-content: space-between;
    }
}

@media (min-width: 800px) and (max-width: 1050px) {
    .headerContainer {
        padding: 10px;
        flex-direction: column;
        height: fit-content;
    }

    .iconsPages {
        justify-content: center;
        padding-top: 140px;
    }

    .questionContainer {
        padding-top: 160px;
    }

    .section {
        padding-top: 330px;
    }

    .navBar {
        display: flex;
        flex-direction: row;
    }

    .header2 {
        margin-bottom: -20px;
    }

    .headerIcons {
        width: 100%;
        justify-content: space-between;
        padding: 5px;
    }

    .searchContainer {
        width: 100%;
    }

    .questionInput {
        width: 70%;
    }

    .searchIcon {
        top: 5px;
    }

    .loginPage {
        width: 70%;
    }
}

@media (min-width: 1051px) {

    .searchInput {
        min-width: 350px;
    }

}

@media (min-width: 1051px) and (max-width: 1200px) {

    .searchInput {
        min-width: 350px;
    }

    .btn {
        gap: 10px
    }

    .bttn {
        padding: 8px;
    }

}