.questionBtn {
    color: white;
    background-color: rgb(255 22 22);
}

.questionBtn:hover {
    background-color: rgb(110, 8, 8);
}

.questionContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-height: 350px;
    border: 1px solid gray;
    margin: 0 5%;
    background-color: rgb(217 217 217);
}

.questionInput {
    width: 90%;
    height: 50px;
    margin: 0 5%;
    margin-top: 50px;
    border: 1px solid green;
    border-bottom: 3px solid green;
    border-radius: 5px;
    padding: 10px;
}

.questionInput:focus {
    border: 2px solid rgb(255 22 22);
    outline: none;
}

.questionBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 0 5%;
}