/* Default styles for all devices */

.header {
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 4%;
    margin-bottom: -20px;
}

.main {
    border-radius: 5px;
    border: 1px solid gray;
    margin: 0 5%;
    background-color: rgb(217 217 217);
}

.header1 {
    letter-spacing: 1px;
    font-size: 50px;
    margin-left: 65px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}

.link {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30px;
    color: rgb(255 22 22);
}

.link:hover {
    color: rgb(110, 8, 8);
}

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid grey;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 23px;
}

.searchInput {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid green;
    border-bottom: 3px solid green;
    border-radius: 5px;
}

.searchInput:focus {
    border: 2px solid rgb(255 22 22);
    outline: none;
}

.btn {
    display: flex;
    gap: 40px;
    margin-top: -8px;
}

.bttn {
    color: white;
    background-color: rgb(255 22 22);
}

.bttn:hover {
    background-color: rgb(110, 8, 8);
}

.quesAndAnsContainer {
    padding: 30px;
    gap: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.list {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid grey;
}

.question {
    margin-bottom: 5px;
    color: blue;
    font-size: 18px;
}

.list p {
    font-size: 18px;
}

.answerName {
    font-weight: bold;
}

.queContainer {
    background-color: white;
    padding: 10px;
}

.questionList {
    padding: 10px;
}

.questionList p {
    color: blue;
    font-size: 18px;
}