.answerBtn {
    color: white;
    background-color: rgb(255 22 22);
}

.answerBtn:hover {
    background-color: rgb(110, 8, 8);
}

.ansContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 0 5%;
    background-color: rgb(217 217 217);
    padding: 40px;
}

.answerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.answerquestionContainer {
    background-color: white;
    padding: 20px;
}

.answerInput {
    border: 1px solid green;
    border-bottom: 3px solid green;
    border-radius: 5px;
    resize: none;
    padding: 20px;
}

.answerInput::placeholder {
    font-size: 20px;
}

.answerInput:focus {
    border: 2px solid rgb(255 22 22);
    outline: none;
}

.answerBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 0 5%;
}

.questionAns {
    color: blue;
    margin-bottom: 10px;
}

.ansHeader {
    margin-bottom: 10px;
}