.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #FCF9F9;
}

.title {
    padding: 10px 0px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.login_form {
    padding: 20px 40px;
}

label {
    font-size: 18px;
    color: #130f40;
}

input {
    font-size: 15px;
    height: 40px;
    width: 350px;
    padding: 0 5px;
    outline-color: rgb(33, 150, 243);
    border: 1px solid silver;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    opacity: 0.5;
}

input[type='text'] {
    margin-bottom: 10px;
}

button {
    margin: 30px 0 20px 0;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    background-color: rgb(33, 150, 243);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease 0.4s;
    box-shadow: 0 3px rgba(0, 0, 0, 0.7);
}

button:active {
    transform: translate(0, 2px);
    box-shadow: 0 2px rgba(0, 0, 0, 0.7);
}

button:hover {
    background-color: #1a237e;
}

#email_error,
#pass_error {
    margin-top: 5px;
    width: 348px;
    font-size: 18px;
    color: #c62828;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #ef9a9a;
    border-radius: 3px;
    display: none;
}

.sign_up {
    text-align: center;
    margin-bottom: 20px;
}

.tag {
    text-decoration: none;
    font-weight: bold;
}

.tag:hover {
    color: #1a237e;
}

/* Media Queries */

/* Small devices (landscape phones) */
@media (max-width: 576px) {

    input,
    button {
        width: 100%;
    }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 80%;
    }
}